// Fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import 'reset';
@import 'style';
@import 'nprogress';

body {
  overscroll-behavior: none;
  color: #2c2c2c;
  background-color: #e5e5e5;
}
